#id_game_table{
    width: initial;
}

#id_game_table tr {
    height: 30px;
    line-height: 10px;
}

#id_game_table td {
    padding: 0px;
}

#id_game_table.cell {
}

#id_game_table .wall-cell {
    background: whitesmoke;
}

#id_game_table .green-cell {
    background: LimeGreen;
}

.new-cell {
    background: PaleGreen;
}

.dead-cell {
    background: Silver;
}
