#id_game_table{
    width: initial;
    table-layout: fixed;
}

#id_game_table tbody, td, tfoot, th, thead, tr{
    border-color: initial;
    border-style: initial;
    border-width: 0;
}

#id_game_table tr {
    height: 30px;
    line-height: 10px;
}

#id_game_table td {
    padding: 0px;
}

#id_game_table .cell {
    background: white;
}

#id_game_table .cell-wall {
    background: Silver;
}
