{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h4>Параметры для создания игры:</h4>
    <div>
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group col-12">
           {{form.name.label(class="form-label")}}
            <div class="row align-items-center justify-items-center">
                <div class="col-3">{{form.name(class="form-control")}}</div>
                <div class="col-3">
                    <input type="button" class="btn btn-primary" value="тестовые значения" onClick="setValue()">
                </div>
            </div>
           <small id="nameHelp" class="form-text text-muted">от 3 до 30 символов.</small>
        </div>
        <hr/>
        <div class="form-row row col-12">
            <div class="col-3">
                {{form.height.label(class="form-label")}}
                {{form.height(class="form-control")}}
                <small id="heightHelp" class="form-text text-muted">10 - 30</small>
            </div>
            <div class="col-3">
                {{form.width.label(class="form-label")}}
                {{form.width(class="form-control")}}
                <small id="widthHelp" class="form-text text-muted">10 - 30</small>
            </div>
            <div class="col-3">
                {{form.difficult.label(class="form-label")}}
                {{form.difficult(class="form-select")}}
            </div>
            <div class="col-3">
           {{form.exit_count.label(class="form-label")}}
           {{form.exit_count(class="form-control")}}
            </div>
        </div>
        <hr/>
        <div class="form-check col-6">
           {{form.ninja.label(class="form-check-label")}}
           {{form.ninja(class="form-check-input")}}
        </div>
        <hr/>
        <div class="form-row row justify-content-center">
            <div class="form-group col-3">
                {{ form.btn_submit() }}
            </div>
            <div class="form-group col-3">
                <input type="button" class="btn btn-primary" value="На главную" onClick='location.href="/"'>
            </div>
            <div class="form-group col-3">
                <input type="button" class="btn btn-primary btn-block" value="Вернуться к игре"
                       onClick='location.href="/game"' {% if not game_run %} disabled {% endif %}>
            </div>
        </div>
        <hr/>

    </form>
        </div>
</div>
{% endblock content %}

{% block scripts %}
	<script type="application/javascript" src="static/new.js"></script>
{% endblock %}
